BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
PointerAlignment: Left
ReferenceAlignment: Left
AttributeMacros:
  - TEST_NO_COVERAGE
  - SUBPROCESS_NO_COVERAGE
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
